books/*
misc/*
uploads/*
tekoi.info/*
.Spotlight-V100/
._.htaccess
._Pal2StarDict.jar
._Wordpress.old
._android-chrome-144x144.png
._android-chrome-192x192.png
._android-chrome-36x36.png
._android-chrome-48x48.png
._android-chrome-72x72.png
._android-chrome-96x96.png
._apple-touch-icon-114x114.png
._apple-touch-icon-120x120.png
._apple-touch-icon-144x144.png
._apple-touch-icon-152x152.png
._apple-touch-icon-180x180.png
._apple-touch-icon-57x57.png
._apple-touch-icon-60x60.png
._apple-touch-icon-72x72.png
._apple-touch-icon-76x76.png
._apple-touch-icon-precomposed.png
._apple-touch-icon.png
._books
._browserconfig.xml
._css
._dekaingeseu
._dict_v1_nopics.zip
._dict_v2.tar.gz
._dict_v3.tar.gz
._dosuub
._dosuub2
._favicon-16x16.png
._favicon-32x32.png
._favicon-96x96.png
._favicon.gif
._favicon.ico
._googlef7f31fecdb02e0dd.html
._grammar
._gurudic
._hanahuda
._images
._jdever
._manifest.json
._misc
._missing
._mp3s
._mstile-144x144.png
._mstile-150x150.png
._mstile-310x150.png
._mstile-310x310.png
._mstile-70x70.png
._mysql
._palauan-20150525-lite.zip
._palauan-20150525.tar.gz
._palauan-20150525.zip
._png-halves
._pronoun_pics
._quiz
._radio
._scripts
._sitemap.xml
._stardict
._tekoi.info
._tmp
._uploads
.about.php.swp
.fseventsd/
.gitignore
.htaccess
.well-known/
01 Track 1.wma
G Music/
Malo1.wma
Malo10.wma
Malo11.wma
Malo12.wma
Malo13.wma
Malo14.wma
Malo15.wma
Malo2.wma
Malo3.wma
Malo4.wma
Malo5.wma
Malo6.wma
Malo7.wma
Malo8.wma
Malo9.wma
Mujik/
Music/
Pal2StarDict.jar
Palauan/
Prersident Party2016/
Rayna/
Sikitong/
Soja/
Soul/
System Volume Information/
Vito/
android-chrome-144x144.png
android-chrome-192x192.png
android-chrome-36x36.png
android-chrome-48x48.png
android-chrome-72x72.png
android-chrome-96x96.png
apple-touch-icon-114x114.png
apple-touch-icon-120x120.png
apple-touch-icon-144x144.png
apple-touch-icon-152x152.png
apple-touch-icon-180x180.png
apple-touch-icon-57x57.png
apple-touch-icon-60x60.png
apple-touch-icon-72x72.png
apple-touch-icon-76x76.png
apple-touch-icon-precomposed.png
apple-touch-icon.png
browserconfig.xml
chelitakl/
css/hello
css/hello.txt
db_credentials.php
dekaingeseu/8.mp3
dekaingeseu/foo.wav
dekaingeseu/images/
dekaingeseu/js/
dekaingeseu/test.html
dekaingeseu/upload.php
dekaingeseu/wavs/
dict_v1.zip
dict_v1_nopics.zip
dict_v2.tar.gz
dict_v3.tar.gz
dosuub/js/
dosuub/old/dorrenges.html
dosuub2/js/
dosuub2/old/dorrenges.html
favicon-16x16.png
favicon-32x32.png
favicon-96x96.png
favicon.gif
favicon.ico
foo
gd/
googlef7f31fecdb02e0dd.html
grammar/.conversions.py.swp
grammar/conversions.py
grammar/more_pronouns.csv
home-site-map.xml
images/
jdever/
manifest.json
missing/
mp3s/
mstile-144x144.png
mstile-150x150.png
mstile-310x150.png
mstile-310x310.png
mstile-70x70.png
mysql/
ngara ngeseu 55th anniversary/
old/
palauan-20150525-lite.zip
palauan-20150525.tar.gz
palauan-20150525.zip
pics
png-halves/
pronoun_pics/
radio/
robots.txt
scripts/
site_map.xml
sitemap.xml
skin
stardict/
tekinged.com
tmp/
wordpress.tar.gz
